/* --------------------------- Standard Variables --------------------------- */

$background-color: #ffffff;
$text-color: #000;
$subtext-color: #808080;
$detail-color: #49c5b6;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;